@import "../../../assets/styles/theme/variables";

:host {
  .auth-container {
    transition: background 0.5s;
    background-position-x: 0;
    background-position-y: 0;
    background: rgb(202, 103, 208);
    background: linear-gradient(
      90deg,
      rgba(202, 103, 208, 1) 0%,
      rgba(255, 192, 200, 1) 48%,
      rgba(132, 160, 233, 1) 100%
    );

    .auth-login {
      font-family: "Sceageus";
      color: $color-light;
      font-size: 35px;
    }

    .bg-purple {
      width: 860px;
      border-radius: 0 0 800px 0;
      background: #be80c2;
      filter: blur(80px);
    }

    .bg-blue {
      width: 860px;
      border-radius: 800px 0 0 0;
      background: #384c91;
      filter: blur(100px);
    }
  }

  .auth-content {
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.09);
    padding: 1em;
    min-width: 228px;
    height: 351px;
    box-shadow: 8px 8px 16px rgb(0 0 0 / 25%);
    z-index: 10;
  }
}
