<form>
  <div class="d-flex flex-column align-items-center gap-2 text-white">
    <div class="form-group px-3">
      <label for="Email">Email</label>
      <input
        type="email"
        class="form-control"
        id="Email"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="form-group pb-4">
      <label for="Password">Senha</label>
      <input
        type="password"
        class="form-control"
        id="Password"
      />
    </div>

    <button type="submit" class="btn btn-primary w-75 sign-in">Login</button>
    <button type="submit" class="btn btn-primary w-75 sign-up">
      Primeiro Acesso?
    </button>
  </div>
</form>
